body {
    background-color: #57a0ff;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: yellow;
    text-align: center;
    font-size: 50;
    border: 1px solid #aaa700;
}

.title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.banner {
    text-align: center;
    border: 1px solid #335e96;
}
.convocados {
    text-align: center;
}

.jogador {
    color: white;
    border: 1px solid yellow;
    background-color: green;
}

.descricao {
    text-align: center;
    color: white;
}